@media (max-width: 992px) {
  #carousel-section .slider-container {
    flex-direction: column;
    padding: 0;
  }

  #carousel-section .detail-box {
    width: 100%;
    text-align: center;
    padding: 75px 15px;
    background: linear-gradient(135deg, #a454fd, #2b05df);
    position: relative;
  }
  #carousel-section .img-box {
    width: 100%;
    margin: 0;
  }
  #carousel-section .slider-bg-container {
    display: none;
  }
  #carousel-section .detail-box p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #carousel-section .carousel-control-prev,
  #carousel-section .carousel-control-next {
    top: initial;
    bottom: 0;
    left: 44.6%;
  }

  #carousel-section .carousel-control-prev {
    transform: translate(0, 50%);
  }

  #carousel-section .carousel-control-next {
    transform: translate(115%, 50%);
  }

}

@media (max-width: 576px) {

  #carousel-section .carousel-control-prev,
  #carousel-section .carousel-control-next {
    left: 41.6%;
  }

}

@media (max-width: 480px) {

  #carousel-section .carousel-control-prev,
  #carousel-section .carousel-control-next {
    left: 39%;
  }
  #carousel-section .detail-box h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 360px) {

  #carousel-section .carousel-control-prev,
  #carousel-section .carousel-control-next {
    left: 36%;
  }
}
